# for development use postgres-dev
DB_HOST=postgres
DB_PORT=5432
DB_NAME="<CHANGE_ME>" #TODO: name your db
DB_USER="<CHANGE_ME>" #TODO: name your db user
DB_PASSWORD={{change}} #TODO: set a db password
DB_SCHEMA=public

RUST_LOG=Debug

OIDC_DISCOVER_URL=<CHANGE_ME> #TODO: your OIDC provider url
OIDC_CLIENT_ID=<CHANGE_ME> #TODO: OIDC client id
OIDC_CLIENT_SECRET=<CHANGE_ME> #TODO: OIDC client secret
OIDC_REDIRECT_URL="https://<CHANGE_ME>/api/v1/oidc/finish-login" #TODO: change to your url

UID=1000
GID=1000